.slider-pin {
    margin: 0;
    padding: 0px;
    font-family: lato;
    

    
    
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    padding-top: -20px;
    color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: -10px;
    
    
}

.slider-pin {
	width: 720px;
    height: auto;
	margin:50px auto 0;
	overflow: hidden;
    margin-left: 260px;
    
   
}

.slider-pin ul {
	display: flex;
	padding: -15%;
	width: 400%;
    
    
    
    
	
	animation: slide 7s infinite alternate ease-in-out;
}

.slider-pin li {
	width: 100%;
	list-style: none;
    
}
    
   

.slider-pin img {
	width: 100%;
    margin-left: 50px;
    padding: -100px;
    
   
}

@keyframes slide {
	0% {margin-left: -10%;}
	20% {margin-left: 0;}
	
	25% {margin-left: -150%;}
	45% {margin-left: -150%;}
	
	50% {margin-left: -300%;}
	70% {margin-left: -300%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
    
    
}

.pin_slider-h1{
    margin-top: 130px;
}