.pin__navbar{
display: flex;
justify-content: space-between;
align-items: center;
padding: 0.49rem 39rem;



}

.pin__navbar-links {
    flex:1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.pin__navbar-links_logo {
    margin-right: 6rem;
    margin-left: 0px;
  
}

.pin__navbar-links_logo img {
    width: 222px;
    height: 86px;
    
   
  
    
}

.pin__navbar-links_container {
    display: flex;
    flex-direction: row;
    
}
.pin__navbar-menu {
    margin-left: rem;
    display: none;
    position: relative;
}


.pin__navbar-menu svg {
    cursor: pointer;
}

.pin__navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0 0 5  rgba(0,0,0,0.2)

}
.pin__navbar-menu_container p {
    margin: 1rem 0;

}

@media screen and (max-width: 1050px) {
    .pin__navbar-links_container {
        display:none ;
    }
}
    
.pin__navbar-menu {
    display: flex;
}

.pin__navbar-menu_container {
    top: 20;
    
}


    



.pin__navbar-links_container p,

.pin__navbar-menu_container p {
    color:#fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;

    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;

    background-color:#291e1e;

    margin: 0 1rem;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 13px;
    font-style: unset;

  
    
}