.pin__feature {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  
}

.pin__feature-heading {
   flex: 1;
   justify-content: flex-start;
   width: 54px;
   padding: -25px;
   margin-top: -100px;
   
   
   
    
}

.pin__feature-container_feature-text{
    font-size: larger;
    
    background-color: rgb(74, 156, 156);
    
    width: 3;
    margin: auto;
    box-sizing: border-box;
    margin-top: 80px;
}

.pin__feature-container__feature-title{
    
    margin: 10px;
    padding:0%;
    margin-right: 43px;
    
    
    
}
.pin__feature-heading p {
    font-family: var(--font-family);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 23px;
    line-height: 30px;
    color: rgb(220, 220, 228);
    padding: 19px;
    margin-left: -30px;
    margin-top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pin__feature-heading h1{
    margin-left: -30px;
    padding: 10px;
   
    
}
.pin__feature-container_feature-text{
    color: rgb(39, 202, 202);
    
}
.pin__features-container_features-text{
    color: #d4e090;
    margin-top: 130px;
    margin-left: 70px;
    height: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}


.pin__feature-heading h3{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
  color: rgb(150, 140, 127);
  font-size: -5px;
  
}

.pin__feature{
   

    padding: 2rem;

    background: var(--color-footer);

    background:-moz-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgb(44, 120, 201) 100%);

   
    background:-webkit-radial-gradient(circle at 30% -100%, #0b3055 25%, rgb(12, 51, 90) 85%, rgb(44, 122, 204) 100%);

    
    background:-o-radial-gradient(circle at 30% -100%, #0a2d50 25%, rgb(10, 54, 97) 85%, rgb(46, 127, 214) 100%);

    
    background:-ms-radial-gradient(circle at 30% -100%, #164c81 25%, rgba(4, 44, 84, 1) 85%, rgb(41, 127, 219) 100%);

    
    background:radial-gradient(circle at 30% -100%, #0c335a 25%, rgb(11, 44, 77) 85%, rgb(44, 116, 194) 100%);

    filter: drop-shadow(0px 4px 4px rgba(231, 225, 225, 0.25));
  margin-top: -50px;
  
  
    

    

    
   
}

.item{
    height: 40rem;
    min-width: 30rem;
    padding: 2rem;
}
.slider-pin-img{
    background: transparent url(/src/assets/ventas12.png) 0% 0% no-repeat padding-box;
    top: 1308px;
    left: 596px;
    width: 770px;
    height: 668px;
    padding: 5px;
    margin-top: 50px;
    margin-left: 00px;
    
    opacity: 1;
}



section{
    width: 700px;
    padding: 40px;
    background: rgb(94, 81, 81);
    margin: auto;
    margin-top: 20px;
    margin-left: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
 }
 
 summary{
    background: rgb(0, 110, 255);
    color: rgb(238, 216, 216);
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 30px;
 }
 p{
    padding: 10px;
   
    color: rgb(21, 187, 54);
     margin-top: 10px;
    
}
    
 

@media screen and (max-width: 681px) {
.pin__features-container__feature{
    display: inline-block;

} 
}

   @media screen and (max-width:900px) {
    .pin__feature.section__padding{
        margin-top: -240px;
        margin-left: 40px;
        flex-direction: row;
        padding-left: 130px;

    }
   }
   @media screen and (max-width:600px  ){
    .slider-pin-img{
        margin-top: 40px;
        margin-left: -130px;
        height: 1200px;
        
    }
   }
   @media screen and (max-width: 600px) {
    .slider-pin-img section{
        margin-top: 130px;
        margin-left: 10px;

    }
}
   
    @media screen and (max-width:600px) {
        .slider-pin-img section p{
            margin-left: -50px;
            margin: -21px;
            margin-left: -50px;
            width: 400px;

        }
    }
     @media screen and (max-width:600px){
        .slider-pin-img section summary{
            margin-left: -40px;

        }
        
     }
        
     @media screen and (max-width:600px){
        .pin-inf{
            margin-top: -520px;
            margin-left: -100px;

        }
     }
        
     
        
     
      
    
   
    
   

