.pin__feature {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.pin__feature-heading {
   flex: 1;
   justify-content: flex-start;
   width: 54px;
   padding: -25px;
   margin-top: -100px;
   
   
   
    
}

.pin__feature-container_feature-text{
    font-size: larger;
    
    background-color: rgb(67, 131, 131);
    width: 3;
    margin: auto;
    box-sizing: border-box;
    margin-top: 80px;
}

.pin__feature-container__feature-title{
    
    margin: 10px;
    padding:0%;
    margin-right: 43px;
    
    
}
.pin__feature-heading p {
    font-family: var(--font-family);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 29px;
    line-height: 30px;
    color: rgb(234, 234, 241);
    padding: 19px;
    margin-left: -30px;
    margin-top: 130px;
}

.pin__feature-heading h1{
    margin-left: -30px;
    padding: 10px;
   
    
}
.pin__feature-container_feature-text{
    color: rgb(39, 202, 202);
    
}
.pin__features-container_features-text{
    color: rgb(33, 204, 204);
    margin-top: 80px;
    margin-left: -145px;
    height: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.pin__feature-heading h1{
    margin-top: 90px;
    margin-left: -10px;
    
}

.pin__feature{
   

    padding: 2rem;

    background: var(--color-footer);

    background:-moz-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgb(44, 120, 201) 100%);

   
    background:-webkit-radial-gradient(circle at 30% -100%, #0b3055 25%, rgb(12, 51, 90) 85%, rgb(44, 122, 204) 100%);

    
    background:-o-radial-gradient(circle at 30% -100%, #0a2d50 25%, rgb(10, 54, 97) 85%, rgb(46, 127, 214) 100%);

    
    background:-ms-radial-gradient(circle at 30% -100%, #164c81 25%, rgba(4, 44, 84, 1) 85%, rgb(41, 127, 219) 100%);

    
    background:radial-gradient(circle at 30% -100%, #0c335a 25%, rgb(11, 44, 77) 85%, rgb(44, 116, 194) 100%);

    filter: drop-shadow(0px 4px 4px rgba(231, 225, 225, 0.25));
  margin-top: -50px;

    

    
   
}


    

